<div class="chat-wrapper">
  <div class="chat-closed" *ngIf="!chatOpen">
    <button mat-fab>
      <mat-icon aria-hidden="false" aria-label="Open and close the chat window"
        >chat</mat-icon
      >
    </button>
  </div>

  <div class="chat-open" *ngIf="chatOpen">
    <div class="mat-elevation-z8">
      <div class="chat-header">
        <h2>
          Chatbot
          <mat-icon
            id="chat-close-button"
            class="float-right"
            aria-hidden="false"
            aria-label="Close the chat window"
            >close</mat-icon
          >
        </h2>
      </div>
      <div class="chat-content">
        <div class="chat-message chat-message-bot">
          Hi! I am a Rasa bot. Ask me anything.
        </div>
        <div class="chat-message chat-message-user lighten">
          What is your purpose in life an everything else?
        </div>
        <div class="chat-message chat-message-bot">
          Hi! I am a Rasa bot. Ask me anything.
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <mat-form-field class="w-80"><input matInput/></mat-form-field>
      <mat-icon
        id="chat-send-button"
        class="float-right"
        aria-hidden="false"
        aria-label="Send the message"
        >send</mat-icon
      >
    </div>
  </div>
</div>
