<div class="chat-wrapper">
  <div class="chat-closed" *ngIf="!chatOpen">
    <button mat-fab (click)="onToggleChatbot()">
      <mat-icon aria-hidden="false" aria-label="Open the chat window"
        >chat</mat-icon
      >
    </button>
  </div>

  <div class="chat-open" *ngIf="chatOpen">
    <div class="mat-elevation-z8">
      <div class="chat-header">
        <h2>
          Chatbot
          <mat-icon
            (click)="onToggleChatbot()"
            id="chat-close-button"
            class="float-right"
            aria-hidden="false"
            aria-label="Close the chat window"
            >close</mat-icon
          >
        </h2>
      </div>
      <div class="chat-content">
        <div
          *ngFor="let message of chatMessages"
          class="chat-message"
          [ngClass]="
            message.isBot
              ? 'chat-message-bot'
              : ['chat-message-user', 'lighten']
          "
        >
          {{ message.text }}
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <mat-form-field class="w-80"
        ><input [formControl]="message" (keyup.enter)="onSendMessage()" matInput
      /></mat-form-field>
      <mat-icon
        id="chat-send-button"
        class="float-right"
        aria-hidden="false"
        aria-label="Send the message"
        (click)="onSendMessage()"
        >send</mat-icon
      >
    </div>
  </div>
</div>
